body {
 font-family: 'Oswald', sans-serif;
}

@media (min-width: 576px) {
  header {
    background-repeat: no-repeat;
  }
}

#about {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: justify;
}

#about p {
  font-size: 400;
}

footer {
  height: 80px;
}

footer h2 {
  text-align: left;
  margin-left: 125px;
}
